@model TheDressHunt.Models.TheShop.ShopDetail

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>ShopDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShopId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursOfOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursOfOperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfOccasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfOccasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
